
<script src="main.js"></script>

<footer class="footer">
    <div class="content has-text-centered">
        <p>Website by <a href="https://sealrock.co.uk">Seal Rock</a> &copy; Copyright 2020</p>
    </div>
</footer>
</body>
</html>