<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="/" class="navbar-item">Logo</a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item">Home</a>
      <a href="/page-one" class="navbar-item">Page One</a>
      <a href="/add-post" class="navbar-item">Add Post</a>
      <a href="/posts" class="navbar-item">Posts</a>
    </div>
  </div>
</nav>
