<%- include('includes/header.ejs') %>


<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Page One Title</h1>
            <h2 class="subtitle">Subtitle</h2>
        </div>
    </div>
</section>







<%- include('includes/footer.ejs') %>